doctype html
html lang="en"
	head
		title #{site_title}
		meta charset="utf-8"
		meta http-equiv="cleartype" content="on"
		meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
		meta name="keywords" content="#{site_keywords}"
		meta name="author" content="#{site_author}"
		meta name="description" content="#{site_description}"
		== stylesheet_link_tag "style"

	body
	  #page
		header
		  a#logotype href="/" title='Welcome to #{site_title}'
		  == partial '_partials/topnav'

		main role="main"
		  == yield

		footer
		  p Copyright &copy;2013 #{site_title}

	== partial '_partials/jQuery'
	== partial '_partials/analytics'
	== javascript_include_tag "main"